html, body{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

header, header .row, .video-header, .video-header video{
    height:95% !important;
} 
.nav-wrapper{
    background-color: white;
}
.brand-logo{
    color: black !important;
}
.color-test{
    color: #2096f3 !important;
    text-transform: capitalize;
}
.not-more-right{
    margin-right:5% !important;
}
.video-header{
    height: 602px;
    /* border: solid black 1px; */
    padding: 0% !important;
}
.responsive-video{
    padding: 0% !important;
    height: 602px !important;
}
.property-of-the-title{
    color:#2096f3;
    text-align: center;
    padding: 2% 0% !important;
}
.main-row{
    margin-top: 8%;
    padding-left: 8% !important;
    padding-bottom: 10% !important;
}
.property-of-the-title-products{
    color:#2096f3;
    text-align: center;
    padding: 0px !important;
    padding-top: 5% !important;
    background-color: #f1f1f1;
    padding-bottom: 5% !important;
}
.contenair{
    padding: 0px !important;
}
.presentation-of-our-image{
    height:360px;
    background-image: url(images/rawpixel-678089-unsplash.jpg);
    background-size: cover;
    /* margin-left: 8% !important; */
}
.presentation-of-our-text{
    min-height: 360px !important;
    background-color: #f1f1f1;
    overflow: auto;
}
.caracteristique-of-my-text{
    width: 80%;
    margin-left: 50px;
    margin-top: 25px;
    line-height: 30px;
    text-align: justify;
}
.property-of-my-email{
    margin-top:50px;
    width: 80%;
    margin-left: 50px;
    color: #2096f3;
    text-decoration: underline;/*permet de souligner le text*/
}
.back-color-of-products{
    background-color: #f1f1f1;
    padding-bottom: 12%;
    padding-left: 8% !important;
    /* border-top:solid rgb(146, 143, 143) 1px;
    border-bottom:solid rgb(146, 143, 143) 1px; */
    height:auto;
}
/* .block-containe-product{
    margin-top: 70px;
    padding: 0% !important;
} */
.product-image1{
    height:299px;
    background-image: url(images/oscar-nilsson-13605-unsplash.jpg);
    background-size: cover;
    /* margin-left: 8% !important; */
    padding: 0px !important;
}
.product-image2{
    height:299px;
    background-image: url(images/marvin-meyer-571072-unsplash.jpg);
    background-size: cover;
    /* margin-left: 8% !important; */
    padding: 0% !important;
}
.product-image3{
    height:299px;
    background-image: url(images/farzad-nazifi-71686-unsplash.jpg);
    background-size: cover;
    /* margin-left: 8% !important; */
    padding: 0% !important;
}
.product-image4{
    height:299px;
    background-image: url(images/jean-philippe-delberghe-1120429-unsplash.jpg);
    background-size: cover;
    /* margin-left: 9% !important; */
    padding: 0% !important;
}
.flo-block{
    width:100%;
    height:299px;
    background-color: rgba(5, 5, 5, 0.623);
    position: relative !important;
    bottom: 4% !important;
}
.color-services{
    text-align: center;
    color: white;
    position: relative !important;
    top: 45% !important;
    font-size: 24px;
}
.color-services:hover{
    color: #2096f3;
    cursor: pointer;
}
.flo-block{
    visibility: hidden;
    transition: 1s all;
}
.product-image1:hover
.flo-block{
	visibility: visible;
    transition: 1s all;
    opacity:1;
}
.product-image2:hover
.flo-block{
	visibility: visible;
    transition: 1s all;
    opacity:1;
}
.product-image3:hover
.flo-block{
	visibility: visible;
    transition: 1s all;
    opacity:1;
}
.product-image4:hover
.flo-block{
	visibility: visible;
    transition: 1s all;
    opacity:1;
}
.blog-block{
    height: auto;
    margin-top: 30px;
}
.presentation-of-blog{
    min-height: 247px;
    margin-left: 83px !important;
    margin-top: 3% !important;
    padding: 0px !important;
}
.block-containe-blog{
    margin-left: 11px !important;
    width: 94% !important;
    padding: 0% !important;
    height:auto;
}
.dev-work1{
    background-image:url(images/rawpixel-191157-unsplash.jpg);
    height:247px;
    background-size: cover;
}
.dev-work2{
    background-image:url(images/markus-spiske-221494-unsplash.jpg);
    height:247px;
    background-size: cover;
}
.dev-work3{
    background-image:url(images/farzad-nazifi-71686-unsplash.jpg);
    height:247px;
    background-size: cover;
}
.dev-work4{
    background-image:url(images/rawpixel-724105-unsplash.jpg);
    height:247px;
    background-size: cover;
}
.color-blog-test{
    background-color: #f1f1f1;
    height:247px;

}
.caracteristique-of-my-texte{
    width: 95%;
    margin-left:5px;
    margin-top: 15px;
    line-height:20px;
    text-align: justify;
}
.contact-us-block{
    /* border-top:solid rgb(146, 143, 143) 1px; */
    margin-top:90px; 
    background-color: #f1f1f1f1;
    height: auto !important;
    padding-bottom: 18%;

}
.col s12{
    padding: 0% !important;
}
.property-of-the-title-contact-us{
    color:#2096f3;
    text-align: center;
    position: relative !important;
    top: 32px;
}
.formulaire{
    margin-top: 5%;
}
.contenair-contact{
    width: 60%;
}
input{
    width: 100%;
    height: 50px !important;
    border-bottom:solid #bebebe 1px;
    margin-top: 6%;
    border-top: 0px !important;
    border-left: 0px !important;
    border-right: 0px !important;
   /* margin-left:40px; */
    padding-left: 15px;
    background-color: #f1f1f1;
    color: black;
} 
textarea{
    width: 100%;
    margin-top: 8%;
    height: 200px !important;
    padding-left: 15px;
    color: black;
}
.hoverable{
    cursor: pointer;
}
.btn-color{
    width: 25% !important;
    margin-top: 8%;
}
.footer{
    padding-top:5%;
}
.footer-text{
    text-align: justify;
    padding-top: 10%;
    width: 80%;
    padding-left: 13%;
}
.tel-block{
    padding-top: 10%; 
}
.color-footer{
    color: #2096f3;
    text-align: center;
}
.color-text-address{
    color: black !important;
}
.social-icon{
    width:40px;
    height: 40px;
    margin-left:3%;
}
.email-left{
    margin-right: 23% !important;
}
@media screen and (max-width:1000px){
    .property-of-my-email{
        margin-top:2% !important;
    }
    .main-row {
        padding-left: 0% !important;
    }
    .back-color-of-products {
        padding-left: 0% !important;
    }
    .back-color-of-products .hoverable{
        margin-bottom: 10%;
    }
    .presentation-of-blog{
        margin-left: 0px !important;
    }
    .btn{
        width:100% !important;
    }
    textarea{
        padding-top: 10% !important;
        margin-top: 10% !important;
    }
    .property-of-the-title{
        font-size: 25px;
    }
    .property-of-the-title-products{
        font-size: 25px;
    } 
    .property-of-the-title-contact-us {
        font-size: 25px;
    }
}